env
**/__pycache__/
**/*.pyc
*.py[cod]
*$py.class
.coverage
cover/
htmlcov
/.eggs
*.egg
/build
/dist
*.log
/results.tsv
/.cache*
/distribute*
/.idea
/tmp*
.nfs*
.idea
.pytest_cache*
annotateVcf.egg-info/
farm5.sh
