attrs==21.2.0
colorama==0.4.4
coverage==6.1.1
future==0.18.2
iniconfig==1.1.1
mando==0.6.4
packaging==21.2
pluggy==1.0.0
py==1.10.0
pycodestyle==2.8.0
pyparsing==2.4.7
pytest==6.2.5
pytest-cov==3.0.0
pytz-deprecation-shim==0.1.0.post0
pyvcf==0.6.8
radon==5.1.0
six==1.16.0
toml==0.10.2
tomli==1.2.2
tzdata==2021.5
tzlocal==4.1
